<form [formGroup]="signUpForm" (ngSubmit)="login()">
    <div formGroupName="account">
        <div class="text-danger" *ngIf="signUpForm.errors">Username and Password is invalid.</div>
        <div class="form-group">
            <label for="username">Username</label>
            <input
            formControlName="username"
            id="username"
            type="text"
            class="form-control"
            />
            <div *ngIf="username.pending">Checking uniqueness of username...</div>
            <div class="form-error-group" *ngIf="username.touched && username.invalid">
                <p class="text-danger" *ngIf="username.errors.required">
                    Username field is required.
                </p>
                <p class="text-danger" *ngIf="username.errors.email">
                    Username field should be valid email.
                </p>
                <p class="text-danger" *ngIf="username.errors.minlength">
                    Username field should be of minimum
                    {{ username.errors.minlength.requiredLength }} character long.
                </p>
                <p class="text-danger" *ngIf="username.errors.nospace">
                    Username should not contain space.
                </p>
                <p class="text-danger" *ngIf="username.errors.nospace">
                    Username should not contain space.
                </p>
                <p class="text-danger" *ngIf="username.errors.shouldBeUnique">
                    Username should not be {{ username.value }}.
                </p>
            </div>
        </div>
        {{ username.errors | json }}
        <div class="form-group">
            <label for="password">Password</label>
            <input
            formControlName="password"
            id="password"
            type="text"
            class="form-control"
            />
            <div class="form-error-group" *ngIf="password.touched && password.invalid">
                <p class="text-danger" *ngIf="password.errors.required">
                    Password field is required.
                </p>
            </div>
        </div>        
    </div>
    <button class="btn btn-primary" [disabled]="signUpForm.invalid" type="submit">Sign Up</button>
</form>
